[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "*"
boto3 = "*"
psycopg2-binary = "*"
requests = "*"
pytest = "*"
ratelimit = "*"
Xlsxwriter = "*"
smartystreets_python_sdk = "*"

[dev-packages]

[requires]
python_version = "3.13"
